h1 {
  background: linear-gradient(to left, #230556 0%, #3b6dc3 100%);
  color: white;
  padding: 10px;
  text-align: center;
}

input {
  padding: 10px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: grey 1px solid;
  width: 100%;
}

button {
  background-color: #5aa2e9;
  color: white;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  width: 100%;
}

img {
  height: 27px;
}

#weather {
  display: none;
  flex-direction: column;
  width: 80%;
  margin: 0 10px;
}

#history-buttons {
  border-top: solid 3px #b7b7b7;
  margin-top: 20px;
}

#uv {
  background-color: green;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
}

.data {
  display: flex;
}

.search {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 10px;
}

.history-button {
  margin-top: 10px;
  background-color: #b7b7b7;
  color: black;
}

.currentWeather {
  border: solid 1px black;
  padding: 0 10px;
}

.forecast {
  display: flex;
  flex-direction: row;
}

.dailyForecast {
  background-color: #33475a;
  color: white;
  width: 16%;
  margin: auto;
  padding: 0 10px;
}
